/AppiaEmbeddedSample/.DS_Store
/.DS_Store
/AppiaEmbeddedSample/AppiaEmbeddedSample.xcodeproj/project.xcworkspace/xcshareddata/AppiaEmbeddedSample.xccheckout
/AppiaEmbeddedSample/AppiaEmbeddedSample.xcodeproj/project.xcworkspace/xcuserdata/watkins.xcuserdatad/UserInterfaceState.xcuserstate
/AppiaPopupSample/AppiaPopupSample.xcodeproj/project.xcworkspace/xcshareddata/AppiaPopupSample.xccheckout
/AppiaPopupSample/AppiaPopupSample.xcodeproj/project.xcworkspace/xcuserdata/watkins.xcuserdatad/UserInterfaceState.xcuserstate
/AppiaPopupSample/AppiaPopupSample.xcodeproj/xcuserdata/watkins.xcuserdatad/xcschemes/AppiaPopupSample.xcscheme