/AppiaEmbeddedSample/.DS_Store
/.DS_Store
/AppiaEmbeddedSample/AppiaEmbeddedSample.xcodeproj/project.xcworkspace/xcuserdata/watkins.xcuserdatad/UserInterfaceState.xcuserstate
/AppiaPopupSample/AppiaPopupSample.xcodeproj/project.xcworkspace/xcuserdata/watkins.xcuserdatad/UserInterfaceState.xcuserstate